@import url(http://fonts.googleapis.com/css?family=Lato:300);

body, html {
    margin: 0;
    padding: 0;
    font-family: Lato, sans-serif;
    font-weight: thin;
    color: white;
    text-align: center;
    font-size: 100%;
    min-height: 100%;
    min-width: 100%;
}

html {
    
}

body {
    background: #030206;
    background: -moz-linear-gradient(-45deg,  #030206 0%, #011337 73%, #1e3c6e 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#030206), color-stop(73%,#011337), color-stop(100%,#1e3c6e));
    background: -webkit-linear-gradient(-45deg,  #030206 0%,#011337 73%,#1e3c6e 100%);
    background: -o-linear-gradient(-45deg,  #030206 0%,#011337 73%,#1e3c6e 100%);
    background: -ms-linear-gradient(-45deg,  #030206 0%,#011337 73%,#1e3c6e 100%);
    background: linear-gradient(135deg,  #030206 0%,#011337 73%,#1e3c6e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#030206', endColorstr='#1e3c6e',GradientType=1 );
}



h1 {
    font-size: 45px;
    margin-bottom: 5px;
    margin-top:5px;
}

h2 {
    margin: 0;
}

label {
    font-size: 80%;
    display: inline-block;
    margin-top: 4px;
    margin-bottom: 5px;
}

select, button {
    border-radius: 5px;
    -webkit-appearance: none;
    border:0.5px solid white;
    background: none;
    color: white;
    font-family: Lato, sans-serif;
    padding: 5px;
    width: 100%;
    padding-bottom: 6px;
}

option {
    padding:0;
    margin: 0;
    text-align: center;
}

.content {
    padding-top: 5px;
    margin: 5px;
    margin-top: 0;
    margin-bottom: 0;
}

button.save {
    margin-bottom:15px;
    margin-top: 10px;
    color: #011337;
    background-color: white;
}

img.logo {
    margin: 10px auto;
    display: block;
    width: 55px;
}