{% extends "site.html" %}
{% block content %}
<form method="POST" action="">
    <label for="method">Calculation Method</label><br/>
    <select id="method" name="method">
    {% for method in method_options %}
        <option value="{{ method }}" {% if user.config.method == method %}selected{% endif %}>{{ method }}</option>
    {% endfor %}
    </select><br/>
    <div id="asr-block">
        <label for="asr">Asr</label><br/>
        <select id="asr" name="asr">
        {% for asr in asr_options %}
            <option value="{{ asr }}" {% if user.config.asr == asr %}selected{% endif %}>{{ asr }}</option>
        {% endfor %}
        </select>
    </div>
    <label for="prayer_names">Prayer Names</label><br/>
    <select id="prayer_names" name="prayer_names">
    {% for k, exemplar in prayer_name_options.items() %}
        <option value="{{ k }}" {% if user.config.prayer_names == k %}selected{% endif %}>{{ exemplar }}</option>
    {% endfor %}
    </select>
    <div class="fineprint elbbep-warning" id="elbbep-warning">(install <a href="https://elbbep.cpfx.ca" target="_blank">elbbeP</a> to see Arabic prayer names)</div>
    <label>Current Location</label><br/>
    {{ location_geoname if location_geoname else "(unknown)" }}

    <button type="submit" class="save">Save</button>
    <span class="invisible">{{ user.id }}</span>
</form>
<script type="text/javascript">
    var asr_setting_availability = {{ asr_setting_availability | safe }};
    function updateAsrVisibility() {
        var visible = asr_setting_availability[document.getElementById("method").value];
        document.getElementById("asr-block").style.display = visible ? "block" : "none";
    }
    document.getElementById("method").addEventListener("change", updateAsrVisibility);
    updateAsrVisibility();

    function updateElbbePWarningVisibility() {
        var visible = document.getElementById("prayer_names").value == "arabic";
        document.getElementById("elbbep-warning").style.display = visible ? "block" : "none";
    }
    document.getElementById("prayer_names").addEventListener("change", updateElbbePWarningVisibility);
    updateElbbePWarningVisibility();
</script>
{% endblock %}
