{% extends "site.html" %}
{% block content %}
<form method="POST" action="">
    <label for="method">Calculation Method</label><br/>
    <select id="method" name="method">
    {% for method in method_options %}
        <option value="{{ method }}" {% if config.method == method %}selected{% endif %}>{{ method }}</option>
    {% endfor %}
    </select><br/>
    <label for="asr">Asr</label><br/>
    <select id="asr" name="asr">
        {% for asr in asr_options %}
        <option value="{{ asr }}" {% if config.asr == asr %}selected{% endif %}>{{ asr }}</option>
    {% endfor %}
    </select>
    <label>Current Location</label><br/>
    {{ location if location else "(unknown)" }}

    <button type="submit" class="save">Save</button>
</form>
{% endblock %}
