<!doctype html>
<html>
    <head>
        <title>Qibla + Prayer Times</title>
        <link rel="stylesheet" type="text/css" href="/static/css/site.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    </head>
    <body>
        <div class="content-wrap">
            <div class="content">
                <img src="/static/img/kaaba.svg" class="logo"/>
                {% block content %}{% endblock %}
            </div>
        </div>
    </body>
</html>