{% extends "site.html" %}
{% block content %}

No More Prayer Times After Pebble Server Shutdown

<div class="fineprint">
    As you may know, in late 2016 Pebble became insolvent, ending support for all Pebble watches. In July 2019, the Pebble servers that delivered prayer times to your watch were finally shut down. As a result, you will no longer see prayer times notifications appear on your watch. An alternative system, Rebble.io, promises to fill the role that these servers played - however this replacement functionality is not yet complete. I will update this page with more details as they become available inshaAllah.<br/>
    <br/>
</div>
{% endblock %}